.gsd-keyboard.settings-ported
obsidian
zen
BraveSoftware
Code
Element
btop/btop.log
chromium
dconf
discord
dleyna-server-service.conf
evolution
gnome-initial-setup-done
gtk-3.0
ibus
inkscape
mimeapps.list
mozilla
spotify
syncthing
user-dirs*

nix-timetracker/

nix-switcher/kittythemes.json
nix-switcher/kittythemes
nix-switcher/links.json
nix-switcher/recent.json
nix-switcher/wallpaper.json
nix-switcher/config.json
nix-switcher/themes/*/

kitty/current.conf
hypr/hyprland/color.conf
quickshell/color/Current.qml

